<div class="navbar-area {{navbarClass}}">
    <div class="naxai-responsive-nav">
        <div class="container">
            <div class="naxai-responsive-menu">
                <div class="logo">
                    <a routerLink="/">
                        <img src="assets/img/logo.png" alt="logo" title="Tech Defenceslabs" /> 
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="naxai-nav">
        <div class="container-fluid {{containerClass}}">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    Techdefenceslabs
                </a>
                <div class="collapse navbar-collapse mean-menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item megamenu">
                            <a href="#"  class="dropdown-toggle nav-link">Services</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h6 class="submenu-title">Security Assessment Services</h6>
                                            <ul class="megamenu-submenu">
                                                <li>
                                                    <a routerLink="service/security-assessment-service/web-application-security-assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Web Application Security Assessment 
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-assessment-service/mobile-application-security-assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Mobile Application Security Assessment 
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-assessment-service/thick-client-security-assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Thick Client Security Assessment
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-assessment-service/network-it-infrastructure-security-assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Network / IT Infrastructure Security Assessment
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-assessment-service/cloud-security-assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Cloud Security Assessment
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-assessment-service/wireless-security-assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Wireless Security Assessment
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-assessment-service/source-code-review" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Source Code review
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-assessment-service/it-infrastructure-configuration-review" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       IT Infrastructure Configuration Review
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-assessment-service/server-endpoints-hardening" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Server & Endpoints Hardening
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-assessment-service/hardware-devices-security-assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Hardware Devices Security Assessment
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-assessment-service/iot-security-assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       IoT Security Assessment
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-assessment-service/product-security-assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Product Security Assessment
                                                    </a>
                                                </li>
                                            </ul>
                                            <h6 class="submenu-title">Security Assessment Services – OT</h6>
                                            <ul class="megamenu-submenu">
                                                <li>
                                                    <a routerLink="service/security-assessment-service-ot/ot-ics-cyber-security-assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">OT / ICS Cyber Security Assessment</a></li>
                                            </ul>
                                        </div>    
                                        <div class="col-md-4">    
                                            <h6 class="submenu-title">Security Compliance Services</h6>
                                            <ul class="megamenu-submenu">
                                                <li>
                                                    <a routerLink="service/security-compliance-service/cyber-risk-gap-maturity-assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Cyber Risk, Gap & Maturity Assessment</a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-compliance-service/iso-compliance" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">ISO 27001:2013 Compliance</a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-compliance-service/rbi-cyber-security-compliance" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">RBI Cyber Security Compliance</a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-compliance-service/isnp-compliance" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">ISNP Compliance</a>
                                                </li>

                                                <li>
                                                    <a routerLink="service/security-compliance-service/gdpr-implementation-and-readiness" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">GDPR Implementation and Readiness</a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-compliance-service/nabard-cyber-security-frameworkforensics" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">NABARD Cyber Security Framework</a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-compliance-service/cyber-insurance-consulting" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Cyber Insurance Consulting</a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-compliance-service/sebi-cyber-security-framework" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">SEBI Cyber Security Framework</a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-compliance-service/sox-compliance" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">SOX Compliance</a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/security-compliance-service/pci-dss-compliance" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">PCI DSS Compliance</a>
                                                </li>
                                            </ul>
                                                 <h6 class="submenu-title">Cyber Forensic Services</h6>
                                            <ul class="megamenu-submenu">
                                                <li>
                                                    <a routerLink="service/cyber-forensic-service/cyber-crime-investigation" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Cyber Crime Investigation
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/cyber-forensic-service/computer-mobile-devices-forensics" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Computer & Mobile Devices Forensics
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>    
                                        <div class="col-md-4">    
                                            <h6 class="submenu-title">Managed Cyber Security Services</h6>
                                            <ul class="megamenu-submenu">
                                                <li>
                                                    <a routerLink="service/cyber-security-service/cyber-security-assurance-compliance" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Managed Cyber Security Assurance & Compliance 
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/cyber-security-service/vulnerability-management" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Vulnerability Management
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/cyber-security-service/security-operation-center-services" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Security Operation Center Services
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/cyber-security-service/cyber-security-governance" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Cyber Security Governance
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/cyber-security-service/endpoint-security-services" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Endpoint Security Services
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/cyber-security-service/firewall-management-services" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Firewall Management Services
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/cyber-security-service/patch-management-services" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Patch Management Services
                                                    </a>
                                                </li>
                                            </ul>
                                        
                                            <h6 class="submenu-title">Specialized Services</h6>
                                            <ul class="megamenu-submenu">
                                                <li><a routerLink="service/specialized-service/social-engineering" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Social Engineering</a></li>
                                                <li>
                                                    <a routerLink="service/specialized-service/red-teaming" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Red Teaming </a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/specialized-service/virtual-ciso" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Virtual CISO</a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/specialized-service/compromise-assessment" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Compromise Assessment</a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/specialized-service/phishing-ransomware-simulations" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Phishing & Ransomware Simulations</a>
                                                </li>
                                                <li>
                                                    <a routerLink="service/specialized-service/malware-analysis" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Malware Analysis</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item megamenu">
                            <a href="#"  class="dropdown-toggle nav-link">Trainings</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h6 class="submenu-title">Certifications</h6>
                                            <ul class="megamenu-submenu">
                                                <li>
                                                    <a routerLink="trannings/certifications/cyber-security-expert" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Certified Cyber Security Expert
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/certifications/web-application-security-expert" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                        Certified Web Application Security Expert
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/certifications/mobile-application-security-expert" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Certified Mobile Application Security Expert
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/certifications/soc-analyst" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Certified SOC Analyst
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/certifications/information-security-auditor" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Certified Information Security Auditor
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/certifications/malware-analyst" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Certified Malware Analyst
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/certifications/cyber-crime-investigation-forensics-expert" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Certified Cyber Crime Investigation & Forensics Expert
                                                    </a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/certifications/diploma-cyber-security" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                                                       Diploma Cyber Security Expert Certification + Internship
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                       <div class="col-md-4">   
                                            <h6 class="submenu-title">Corporate Trainings</h6>
                                            <ul class="megamenu-submenu">
                                                <li>
                                                    <a routerLink="trannings/corporate-trainings/web-applications-security" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Web Applications Security</a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/corporate-trainings/mobile-application-security" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Mobile Application Security</a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/corporate-trainings/windows-defender-atp" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Windows Defender ATP</a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/corporate-trainings/splunk-fundamentals-level" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Splunk Fundamentals Level 1 & Level 2</a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/corporate-trainings/azure-data-brick-lake-security" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Azure Data Brick and Data Lake Security</a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/corporate-trainings/elk-stack-training" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">ELK Stack Training</a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/corporate-trainings/iso-training" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">ISO27001 LA Training</a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/corporate-trainings/rbi-cyber-security-compliance" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">RBI Cyber Security Compliance</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <h6 class="submenu-title">Seminars</h6>
                                            <ul class="megamenu-submenu">
                                                <li>
                                                    <a routerLink="trannings/seminars/cyber-security-awareness" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Cyber Security Awareness</a>
                                                </li>
                                            </ul>
                                            <h6 class="submenu-title">UG & PG Programs</h6>
                                            <ul class="megamenu-submenu">
                                                <li>
                                                    <a routerLink="trannings/ugpg-programs/btech-cyber-security" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">B.Tech in Cyber Security</a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/ugpg-programs/msc-cyber-security-digital-forensics" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">MSc - Cyber Security & Digital Forensics</a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/ugpg-programs/pgdiploma-cyber-security" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">PG Diploma in Cyber Security</a>
                                                </li>
                                                <li>
                                                    <a routerLink="trannings/ugpg-programs/mtech-cyber-security" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">M.Tech - Cyber Security</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a href="#"  class="dropdown-toggle nav-link">Resources</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a routerLink="/resources/blog" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/resources/tech-news" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Tech News</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/resources/security-advisories" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Security Advisories</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/resources/case-studies" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Case Studies</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/resources/whitepapers" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Whitepapers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#"  class="dropdown-toggle nav-link">Company</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a routerLink="/company/corporate-profile" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Corporate Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/company/team" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Team</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/company/clients" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Clients</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/company/careers" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Careers</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/company/news" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">In the News</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/company/hall-fame" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Hall of fame</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/company/testimonials" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Testimonials</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/company/partners-alliances" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Partners / Alliances</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/contact" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                Contact
                            </a>
                        </li>     
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>


